@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model IEnumerable<ASP_HomeWork_1.Models.Drink>

<h3>@nameof(ASP_HomeWork_1.Models.Drink)</h3>
<ul>
    @foreach (var item in Model)
    {
        <li>
            <p>@item.Name</p>
        </li>
    }
</ul>

